@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p> My name is Beatha Mwombeki a senior student at University of Illinois at Chicago majoring in Computer Science </p>
