@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    <strong>Contact info:</strong><p> Beatha Mwombeki </p> 
    <p>NetId: bmwomb2</p> <a href="mailto:bmwomb2@uic.com">bmwomb2@uic.com</a><br />
</address>
